# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.lo
*.pyc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Autotool stuff
.deps
/Makefile
/include/Makefile
Makefile.in
aclocal.m4
autom4te.cache
/include/mega/config.h
/include/mega/config.h.in
configure
depcomp
*.swp
install-sh
libtool
ltmain.sh
missing
.libs
stamp-h1
.dirstamp
libmega.pc
*.db
.ycm_extra_conf.py
test-driver
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
compile
clean
config.guess
config.log
config.status
config.sub
py-compile

# Editor and IDE stuff
*~
.project
.cproject
.settings
*~
Debug
Release

megaclient_statecache*


mega-cmd
mega-exec
mega-cmd-server

/contrib/QtCreator/MEGAcmd/MEGAcmd.pro.user
/contrib/QtCreator/MEGAcmd/MEGAcmd
/contrib/QtCreator/MEGAcmd/Makefile
/contrib/QtCreator/MEGAcmd/moc_*.cpp
src/build/Release_x64
MEGAcmdServer.pro.user
/src/build/megacmd/megacmd.dsc
/src/build/megacmd/megacmd.spec
/src/build/megacmd/megacmd_*.tar.gz
/src/build/megacmd/PKGBUILD
/contrib/QtCreator/MEGAcmd/MEGAcmdClient/MEGAclient
/contrib/QtCreator/MEGAcmd/MEGAcmdClient/Makefile
/contrib/QtCreator/MEGAcmd/MEGAcmdServer/MEGAcmd
/contrib/QtCreator/MEGAcmd/MEGAcmdServer/Makefile
/contrib/QtCreator/MEGAcmd/MEGAcmdLoader/MEGAcmdLoader
/contrib/QtCreator/MEGAcmd/MEGAcmdLoader/Makefile
/contrib/QtCreator/build-*


#built stufrf
build/archives
build/megacmd-*
megacmdconfig.h
megacmdconfig.h.in
/build/megacmd/PKGBUILD
/build/megacmd/megacmd.dsc
/build/megacmd/megacmd.spec
/build/megacmd/megacmd_*.tar.gz
contrib/QtCreator/MEGAcmd/MEGAcmdServer/Makefile.Debug
contrib/QtCreator/MEGAcmd/.qmake.stash
contrib/QtCreator/MEGAcmd/MEGAcmdClient/Makefile.Debug
contrib/QtCreator/MEGAcmd/MEGAcmdClient/Makefile.Release
contrib/QtCreator/MEGAcmd/MEGAcmdServer/Makefile.Release
build/Release_x64
