# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.lo
*.pyc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Editors and IDEs
*~
.project
.cproject
.settings
*.pro.user*
.vscode
CMakeLists.txt.user

# MEGAcmd-specific files
mega-cmd
mega-exec
mega-cmd-server
mega-cmd-updater
mega-cmd-tests-integration
mega-cmd-tests-unit
megaclient_statecache*
megacmdversion.h
megacmd_src_file_list.h

# Standard location of CMake builds
/build/build-cmake-*

# Linux packaging files and artifacts
/build/megacmd/PKGBUILD
/build/megacmd/megacmd.dsc
/build/megacmd/megacmd.spec
/build/megacmd/megacmd_*.tar.gz

# Windows packaging files and artifacts
/build/build-x64-windows-mega
/build/build-x86-windows-mega
/build/built64
/build/built32
/build/sign32
/build/sign64
/build/installer/mega-cmd-server_version.rc
/build/installer/mega-cmd-client_version.rc
/build/installer/mega-cmd-shell_version.rc
/build/installer/mega-cmd-updater_version.rc

# macOS packaging files and artifacts
Info.plist

# Synology packaging files and artifacts
/build/SynologyNAS/packages

# Git
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*

# Backups
*_bk
